<div class="container">
  <span class="header">Contact Information</span>
  <div class="sectionContainer">
    <div class="section">
      <i
        class="pi pi-map-marker"
        style="font-size: 1rem; margin-right: 10px; color: #3eb8d7"
      ></i>
      <span>227 Marion street New York USA</span>
    </div>
    <div class="section">
      <i
        class="pi pi-globe"
        style="font-size: 1rem; margin-right: 10px; color: #3eb8d7"
      ></i>
      <span>www.localhost:3000/</span>
    </div>
    <div class="section">
      <i
        class="pi pi-phone"
        style="font-size: 1rem; margin-right: 10px; color: #3eb8d7"
      ></i>
      <span>227 Marion street New York USA</span>
    </div>
    <div class="section">
      <i
        class="pi pi-envelope"
        style="font-size: 1rem; margin-right: 10px; color: #3eb8d7"
      ></i>
      <span>{{ "test@test.com" }}</span>
    </div>
  </div>
</div>
