@import "../variables.scss";

.container {
  padding: 0 20% 0 14%;
  margin: 70px 0 100px 0;
  font-family: "Open Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  display: flex;
  flex-direction: row-reverse;
}

.departments {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: auto auto auto;
  grid-template-rows: 250px 250px 250px;
}

.openingHours {
  background: $blue;
  width: 280px;
}

@media (max-width: 1920px) {
  .container {
    padding: 0 14% 0 20%;
  }
}

@media (max-width: 1770px) {
  .container {
    padding: 0 16% 0 16%;
  }

  .departments {
    display: block;
  }
}

@media (max-width: 1330px) {
  .container {
    display: flex;
  }
  .departments {
    margin-right: 20px;
    width: 100%;
  }
}

@media (max-width: 1330px) {
  .container {
    padding: 0 10% 0 10%;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 2% 0 2%;

    display: block;
  }
  .openingHours {
    width: 100%;
    margin-bottom: 20px;
  }
  .container {
    margin: 20px 0 20px 0;
  }
}
