<div class="container">
  <div>
    <app-department-info></app-department-info>
    <app-openning-hours service="Opening Hours"></app-openning-hours>
  </div>
  <div class="departments">
    <app-department
      image="assets/outpatientsurgery.jpg"
      header="Outpatient Surgery"
      text="In Services, Therapy"
    ></app-department>
    <app-department
      image="assets/cardiacclinic.jpg"
      header="Cardiac Clinic"
      text="In Surgery"
    ></app-department>
    <app-department
      image="assets/opthal.jpg"
      header="Ophthalmology Clinic"
      text="In Therapy"
    ></app-department>
    <app-department
      image="assets/gynecology.jpg"
      header="Gynaecological Clinic"
      text="In Therapy"
    ></app-department>
    <app-department
      image="assets/pediatricclinic.jpg"
      header="Pediatric Clinic"
      text="In Pediatric"
    ></app-department>
    <app-department
      image="assets/lab.jpg"
      header="Laboratory Analysis"
      text="In Pharmacy"
    >
    </app-department>
  </div>
</div>
