@import "../../variables.scss";

.logo {
  display: flex;
  align-items: center;
}

.logoContainer {
  cursor: pointer;
}

.dropdown {
  display: inline;
}

.medicalClinic {
  width: 200px;
  height: 30px;
}

.container {
  font-family: "Open Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  display: flex;
  height: 70px;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 100;
  box-shadow: 0 4px 6px -6px #222;
  transition: 0.7s ease;
}

.containerScroll {
  font-family: "Open Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  display: flex;
  height: 60px;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  background: $navigation-blue;
  z-index: 100;
  box-shadow: 0 4px 6px -6px #222;
  transition: 0.7s ease;
}

.active {
  text-decoration: none !important;
  opacity: 1 !important;
  color: white !important;
}

.navTab {
  position: relative;
  cursor: pointer;
  padding: 6px 8px;
  text-decoration: none;
  color: white;
  width: 50px;
  height: 30px;
  opacity: 0.6;
  margin-right: 5px;

  &:hover:not(.active) {
    opacity: 1;
    color: white;
    text-decoration: none;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out;
  }

  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

@media (max-width: 768px) {
  .container {
    div {
      height: 300px;
    }
  }
  .containerScroll {
    position: sticky;
    top: 0;
  }
}
