<div
  [ngClass]="{
    containerScroll: scrolled || resized,
    container: !scrolled && !resized
  }"
>
  <a href="/" class="logoContainer">
    <img src="assets/medicalClinicLogo.png" alt="" class="medicalClinic" />
  </a>
  <div>
    <a
      class="navTab"
      routerLinkActive="active"
      routerLink="/"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </a>
    <a class="navTab" routerLinkActive="active" routerLink="/departments">
      Departments
    </a>
    <a class="navTab" routerLinkActive="active" routerLink="/doctors">
      Doctors
    </a>
    <a class="navTab" routerLinkActive="active" routerLink="/about"> About </a>
    <!-- {!userIsLoggedIn && ( -->
    <p-button
      label="Sign In"
      severity="secondary"
      (click)="openSignInModal()"
    />
    <p-button label="Sing Up" severity="contrast" (click)="openSignUpModal()" />
    <!-- {userIsLoggedIn && (
      <Dropdown className={styles.dropdown}>
        <Dropdown.Toggle variant="dark" id="dropdown-basic">
          <FaUserCircle />
        </Dropdown.Toggle>

        <Dropdown.Menu>
          <Dropdown.Item onClick={openMyProfile}>
            My profile
          </Dropdown.Item>
          <Dropdown.Item onClick={logout}>Logout</Dropdown.Item>
        </Dropdown.Menu>
      </Dropdown>
    )} -->
  </div>
</div>
<app-carousel />
<p-dialog
  header="{{ modalType === 'signIn' ? 'Sign In' : 'Sign Up' }}"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '25rem' }"
>
  <div
    [style]="{ display: 'flex', alignItems: 'center', flexDirection: 'column' }"
  >
    <div class="inputField">
      <div>
        <label for="email">Email</label>
      </div>
      <input pInputText id="email" />
    </div>
    <div class="inputField">
      <div>
        <label for="email">Password</label>
      </div>
      <input pInputText id="password" />
    </div>
    <div class="signUp">
      <label>If you don't have a registration</label>
      <div>
        <p-button [link]="true">Sign Up</p-button>
      </div>
    </div>
  </div>
  <ng-template #footer>
    <p-button
      label="{{ modalType === 'signIn' ? 'Sign In' : 'Sign Up' }}"
      (click)="visible = false"
      [style]="{ marginRight: '5px' }"
    />
    <p-button label="Cancel" severity="danger" (click)="visible = false" />
  </ng-template>
</p-dialog>
