<div class="container">
  <app-provided-service
    [service]="'Medical Treatment'"
    [description]="
      'Medical treatment means the management and care of a patient to combat disease or disorder.'
    "
  >
    <i class="pi pi-ethereum" style="font-size: 3rem"></i>
  </app-provided-service>
  <app-provided-service
    [service]="'Emergency Help'"
    [description]="
      'Medical treatment means the management and care of a patient to combat disease or disorder.'
    "
  >
    <i class="pi pi-asterisk" style="font-size: 3rem"></i>
  </app-provided-service>
  <app-provided-service
    [service]="'Medical professionals'"
    [description]="
      'A medical emergency is an acute injury or illness that poses an immediate risk to a persons life or long-term health, sometimes referred to as a situation risking life or limb'
    "
  >
    <i class="pi pi-heart" style="font-size: 3rem"></i>
  </app-provided-service>
  <app-provided-service
    [service]="'QualifiedDoctors'"
    [description]="
      'Someone who is qualified has passed the examinations that they need to pass in order to work in a particular profession.'
    "
  >
    <i class="pi pi-headphones" style="font-size: 3rem"></i>
  </app-provided-service>
</div>
