<div class="container">
  <app-information-box
    type="topDoctors"
    [service]="'Top Doctors'"
    [description]="
      'Our medical facility provides the best professionals to help you with exceptional help'
    "
  ></app-information-box>
  <app-information-box
    type="service"
    [service]="'24 Hours Service'"
    [description]="
      'We are concerned about the health of our patients. This is why we provide 24 hours medical service. No matter the time you visit us we will not turn you back'
    "
  ></app-information-box>
  <app-openning-hours [service]="'Opening Hours'"> </app-openning-hours>
</div>
