<div class="chief">
  <div class="content">
    <img src="assets/chief.jpg" alt="" class="img" />
    <div class="contactsContainer">
      <div class="contacts">
        <div class="profession">
          <div>Dr. Nick Sims</div>
          <div>Gynecologist</div>
        </div>
        <app-doctors-contact
          phone="+1-212-555-7575"
          email="example@example.com"
        ></app-doctors-contact>
      </div>
      <div class="description">
        Etiam eu molestie eros, commodo hendrerit sapien. Maecenas tempus leo ac
        nisi iaculis porta. Sed sapien tortor, aliquet a velit ut, lacinia
        molestie velit. Maecenas ornare consequat massa ullamcorper dapibus.
        Etiam eu molestie eros, commodo hendrerit sapien. Maecenas tempus leo ac
        nisi iaculis porta. Sed sapien tortor, aliquet a velit ut, lacinia
        molestie velit. Maecenas ornare consequat massa ullamcorper dapibus.
      </div>
    </div>
  </div>
</div>
