@import "../variables.scss";

.tinyHeader {
  font-size: 14px;
  color: $blue;
  font-family: "Open Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

.header {
  font-size: 24px;
  margin-bottom: 50px;
  font-family: "Open Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
