@import "../../../variables.scss";

.icon {
  color: $blue;
  margin-bottom: 10px;
}

.container {
  width: 230px;
  margin-right: 20px;
  font-family: "Open Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

.description {
  color: $grey;
}

.service {
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    margin-bottom: 20px;
  }
  .description {
    width: 100%;
  }
}
