.caption {
  width: 600px;
  position: fixed;
  bottom: 250px;
  padding-left: 100px;
  text-align: left;
  color: white;
  opacity: 0.8;
  font-family: "Open Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

.image {
  height: 560px;
  width: 100%;
}

.container {
  height: 560px;
}

@media (max-width: 1480px) {
  .container {
    div {
      height: 460px;
    }
  }
}

@media (max-width: 1220px) {
  .container {
    div {
      height: 360px;
    }
  }
}

@media (max-width: 950px) {
  .container {
    div {
      height: 300px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
}
