<div class="container">
  <app-title tinyHeader="Professionals" header="Chief of medicine"></app-title>
  <app-chief></app-chief>
  <div class="doctors">
    <app-title tinyHeader="Professionals" header="Doctors"> </app-title>
    <div class="cards">
      <app-kitchen-sink
        src="assets/julia.jpg"
        title="Dr. Julia"
        subtitle="Pediater"
      ></app-kitchen-sink>
      <app-kitchen-sink
        src="assets/michael.jpg"
        title="Dr. Michael"
        subtitle="Ortoped"
      ></app-kitchen-sink>
      <app-kitchen-sink
        src="assets/amy.jpg"
        title="Dr. Amy"
        subtitle="Gynecologist"
      ></app-kitchen-sink>
    </div>
  </div>
</div>
