<div class="container">
  <app-title tinyHeader="Professionals" header="Chief of medicine"></app-title>
  <app-chief></app-chief>
  <div class="doctors">
    <app-title tinyHeader="Professionals" header="Doctors"> </app-title>
    <input
      placeholder="Search..."
      class="search"
      type="text"
      pInputText
      [(ngModel)]="searchInput"
      (input)="change($event)"
    />
    <div class="cards">
      <app-kitchen-sink
        *ngFor="let doctor of searchFilter"
        src="{{ doctor.src }}"
        title="{{ doctor.title }}"
        subtitle="{{ doctor.subtitle }}"
      ></app-kitchen-sink>
    </div>
  </div>
</div>
