.container {
  padding: 0 18% 0 18%;
  margin: 70px 0 100px 0;
  font-family: "Open Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

.doctors {
  margin-top: 80px;
}

.cards {
  display: grid;
  align-items: center;
  // grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-columns: 1fr 1fr 1fr 1fr;

  &:hover {
    cursor: pointer;
  }
}

.search {
  margin-bottom: 30px;
}

@media (max-width: 1920px) {
  .container {
    padding: 0 16% 0 16%;
  }
}

@media (max-width: 1770px) {
  .container {
    padding: 0 14% 0 14%;
  }
}

@media (max-width: 1670px) {
  .container {
    padding: 0 12% 0 12%;
  }
}

@media (max-width: 1480px) {
  .container {
    padding: 0 8% 0 10%;
  }

  .cards {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}
