<div class="card">
  <p-card>
    <ng-template #header>
      <img alt="Card" class="img" src="{{ src }}" />
    </ng-template>
    <div class="body">
      <div class="title">{{ title }}</div>
      <div class="text">{{ subtitle }}</div>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
      consequuntur error repudiandae numquam deserunt quisquam repellat libero
      asperiores earum nam nobis, culpa ratione quam perferendis esse,
      cupiditate neque quas!
    </p>
  </p-card>
</div>
