@import "../../../variables.scss";

.container {
  font-family: "Open Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  width: 330px;
  height: 271px;
  padding: 40px;
  color: white;
  background: $dark-blue;
}

.service {
  margin-bottom: 30px;
}

.section {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px groove white;
  padding: 10px 0 10px 0;
}

@media (max-width: 1220px) {
  .section {
    width: 90%;
  }

  .container {
    padding: 25px;
  }
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }

  .container {
    width: 100%;
  }
}
